<div id="link-form">
  <form class="post-form form-group">
    <p>URL:</p><input name="link[url]" placeholder="Enter a URL" class="form-control" id="link-url-input"></input><br/>
    <p>Title:</p><input name="link[title]" placeholder="Enter a title" class="form-control" id="link-title-input"></input><br/>
    <input type="submit" class="btn btn-primary" value="Add Link">
  </form>
</div>
